body,html{
	width: 100%;
	height: 100%;
}
body{
	position:relative;
	overflow: hidden;
}
.coach-list-cont{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position:relative;
}
#list-box{
	height:auto;	
}
.coach-list{
	width: 100%;
	height: 350px;
	border-bottom: 1px solid #CCCCCC;
}
.coach-pic{
	float:left;
	width:40%;
	height:250px;
	text-align: center;
}
.coach-pic img{
	width:230px;
	height:230px;
	border:1px solid #ccc;
	margin:9px;
}
.coach-msg{
	width:60%;
	height:250px;
	float:left;
	box-sizing: border-box;
	padding:10px;
}
.coach-msg p{
	line-height:50px;
	font-size:26px;
	
}
.coach-msg p span{
	color:#F5A521;
	font-weight: 900;
}
.coachBtn{
	height: 50px;
	width: 140px;
	border-radius: 20px;
	background: #F5A521;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	margin-left: 25%;
	font-weight: 900;
	color:#fff;
}
/*以下是教练评价*/
.coach-eva{
	line-height:50px;
	font-size:26px;
}
.skill-box,.attitude-box,.health-box{
	display:inline-block;
	width:140px;
    height:23px;
    position:relative;
    overflow:hidden;
}
/*服务态度*/
.attitude-box>span{
	display:inline-block;
    position:absolute;
    width:140px;
    height:23px;
    background-size:cover;
    background-repeat:no-repeat;
    left:0px;
    top:0px;
}
.attitude-box>.add-star{
    background:url(../../images/star.png);
}
.attitude-box>.del-star{
    background:url(../../images/star-pra.png);
    background-color:white;
}
/*技术*/
.skill-box>span{
	display:inline-block;
    position:absolute;
    width:140px;
    height:23px;
    background-size:cover;
    background-repeat:no-repeat;
    left:0px;
    top:0px;
}
.skill-box>.add-star{
    background:url(../../images/star.png);
}
.skill-box>.del-star{
    background:url(../../images/star-pra.png);
    background-color:white;
}
/*卫生*/
.health-box>span{
	display:inline-block;
    position:absolute;
    width:140px;
    height:23px;
    background-size:cover;
    background-repeat:no-repeat;
    left:0px;
    top:0px;
}
.health-box>.add-star{
    background:url(../../images/star.png);
}
.health-box>.del-star{
    background:url(../../images/star-pra.png);
    background-color:white;
}